body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0d1110;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}

.profile-container {
  background-color: #0f1615;
  border: 1px solid #00ff9c;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px #00ff9c33;
  max-width: 400px;
  width: 100%;
}

.profile-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.profile-header h1 {
  color: #00ff9c;
  font-size: 2rem;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #00ff9c;
  color: #0d1110;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem auto;
  box-shadow: 0 0 15px #00ff9c;
}

.profile-info p {
  margin: 0.5rem 0;
  position: relative;
}

.label {
  color: #aaa;
}

.value {
  color: #00ff9c;
  font-weight: bold;
}

.transaction-button,
.withdraw,
.quitBtn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #00ff9c;
  background: transparent;
  color: #00ff9c;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.transaction-button:hover,
.withdraw:hover {
  background-color: #00ff9c;
  color: #0d1110;
}

.quitBtn:hover {
  background-color: orangered;
  border: none;
  color: #fff;
}

@media (max-width: 480px) {
  .profile-container {
    padding: 1rem;
  }
}

.icon-nobg {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 70px;
}

.auctionBtn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #00ff9c;
  background-color: transparent;
  color: #00ff9c;
  position: relative;
  top: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  font-size: 1rem;
  font-weight: 600;
}

.auctionBtn:hover {
  border: none;
  background-color: #00ff9c;
  color: #000;
}

.badge {
  padding: 3px 8px;
  border-radius: 12px;
  margin-left: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  background-color: gray;
  vertical-align: middle;
  display: none;
}

.eshimPAYBtn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #00ff9c;
  background-color: transparent;
  color: #00ff9c;
  position: relative;
  top: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  font-size: 1rem;
  font-weight: 600;
}

.eshimPAYBtn:hover {
  border: none;
  background-color: #00ff9c;
  color: #000;
}
