* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #020c0d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .img0 {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 250px;
  transform: rotate(30deg);
}

.container .img1 {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 250px;
  transform: rotate(-30deg);
}

.container form {
  width: 250px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgreen;
  border-radius: 10px;
  flex-direction: column;
}

.container .box {
  font-size: x-large;
  color: lightgreen;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form {
  color: lightgreen;
  gap: 15px;
}

.container form input {
  width: 200px;
  height: 35px;
  padding-left: 20px;
  border-radius: 16px;
  border: 1px solid lightgreen;
  background-color: transparent;
  color: lightgreen;
  position: relative;
}

.container form .buttons {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
  top: 50px;
}

.container form .buttons .signupBtn,
.loginBtn {
  width: 200px;
  height: 50px;
  border: 1px solid lightgreen;
  background-color: transparent;
  border-radius: 15px;
  color: lightgreen;
  transition: all 0.2s linear;
  position: relative;
  bottom: 25px;
}

.container form .buttons .signupBtn:hover,
.loginBtn:hover {
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}

.container form .buttons .loginLink {
  color: grey;
  position: relative;
  bottom: 15px;
}


@media screen and (max-width: 1345px) {
  img{
    display: none;
  }
}